<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static'login/static/style.css' %}">   
    <title>Success</title>
</head>
<body>
    <div class="wrapper">
        <h2>Success!</h2>
        <h3>Welcome {{f_name}} you have successfully registered or logged in.</h3>
    </div>
</body>
</html>