<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static "app2/style.css" %}">
    <title>My Wish List</title>
</head>
<body>
    <div class="wrapper">
        <a  class="logout" href="logout">Logout</a>
        <h3>Hello, customer number {{user.id}}, err.. we mean {{user.u_name}}!</h3>
        <br>
        <div class="mylist">
            <h3>Your Wish List</h3>            
            <table class="tables">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Added By</th>
                        <th>Date Added</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for thing in mylist %}
                    <tr>
                        <td><a href="{{thing.id}}/show">{{thing.id}}{{thing.item}}</a></td>
                        <td>{{thing.user.u_name}}</td>
                        <td>{{thing.date}}</td>
                        <td><a href="{{thing.id}}/remove">Remove from my List</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <div class="otherlist">
            <h3>Other Users' Wish List</h3>                
            <table class="tables">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Added By</th>
                        <th>Date Added</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for otlist in otherlist %}
                    <tr>
                        <td><a href="{{otlist.id}}/wshow">{{otlist.id}}{{otlist.item }}</a></td>
                        <td>{{otlist.user.u_name}}</td>
                        <td>{{ otlist.date}}</td>
                        <td><a href="{{otlist.id}}/add">Add to my List</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <h3><a href="new">Add Item</a></h3>
    </div>  
</body>
</html>