<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static "app2/style.css" %}">
    <title>Item Display</title>
</head>
<body>
    <div class="wrapper">
        <br>
        <p><a href="/app2/">Home</a> | <a href="logout">Logout</a></p>
        <br>
        <h3>{{favorites.wish.item}}</h3>
        <br>
        <p>Users who added this product/item under their wish list:</p>
        <br>
        <!-- {% for x in users %}
        <p>{{user.u_name}}</p>
        {% endfor %} -->
    </div>  
</body>
</html>