<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static "quotes/style.css" %}">
    <title>Quotes</title>
</head>
<body>
    <div class="wrapper">
        <a  class="logout" href="logout">Logout</a>
        <h2>Welcome, {{user.id}} | {{user.alias}}!</h2>
        <br>
        <div class="quotes"> 
            <h3>Quotable Quotes</h3>             
            {% for quotes in quote %}
            {% if quotes.id != favorites.quote.id %}
            <div class="ind_quote">
                <p>{{quotes.id}} {{quotes.quote_by}} : {{quotes.quote}}</p>
                <p>Posted by <a href="{{quotes.user.id}}/show">{{quotes.user.alias}}</a></p>
                <form action="{{quotes.id}}/add" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Add to My List">
                </form>
            </div>
            {% endif %}
            {% endfor %}
        </div>       
        <div class="favorites">
            <h3>Your Favorites</h3>             
            {% for favorites in favorite %}
            <div class="ind_quote">
                <p>{{favorites.id}}|{{favorites.quote.id}} {{favorites.quote.quote_by}} : {{favorites.quote.quote}}</p>
                <form action="{{favorites.id}}/delete" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Remove to My List">
                </form>
            </div>
            {% endfor %}
        </div>
        <br>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor%}
        </div>
        {% endif %}
        <div class="contribute">
            <h3>Contribute a Quote</h3>
            <form action="create" method="post">
                {% csrf_token %}
                <p>Quoted By:</p>
                <input type="text" name="quote_by" id="quote_by">
                <p>Message:</p>
                <textarea name="quote" id="quote" cols="30" rows="10"></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>  
</body>
</html>