<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static "login/style.css" %}">
    <title>Quotes</title>
</head>
<body>
    <div class="wrapper">
        <p><a href="/quotes">Dashboard</a> | <a href="/quotes/logout">Logout</a></p>
        <P>Posts by {{user.alias]}}</P>
        <p>Count: {{count}}</p>
        <div class="quotes">
            <h2>Quotable Quotes</h2>
            {% for quotes in quote%}
            <p><span style="color:red">{{quote_by}}</span></p>
            <p>{{quote}}</p>
            {% endfor %}
        </div>
    </div>  
</body>
</html>