*{
    margin: 0px;
    padding: 0px;
}
.logout{
    margin-left: 940px;
    display: inline-block;
}
.quotes{
    display: inline-block;
    border: 2px solid black;
    overflow-y: scroll;
    width: 400px;
    height: 500px;
    padding: 5px;
}
.ind_quote{
    border: 2px solid black;
    margin: 5px;
}
.favorites{
    vertical-align: top;
    display: inline-block;
    border: 2px solid black;
    overflow-y: scroll;
    width: 400px;
    height: 300px;
    padding: 5px;
}
.contribute{

}