<h3>Welcome, @ViewBag.UserInfo.fname</h3>

<h4>Current balance: @ViewBag.UserInfo.balance</h4>

<form action="transaction" method="post">
    <label for="amount">Deposit / Withdraw:</label>
    <input type="number" name="amount" id="">
    <button type="submit">Submit</button>
</form>
<br>
<table>
    <tr>
        <td>Amount</td>
        <td>Date</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>