/*CSS reset settings here*/
*{
    margin: 10px;
    padding: 10px;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
   }
   #header{
    height: 150px;
    background-color: green;
   }
   #navigation{
    height: 280px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    background-color: blue;
   }
   #main_content{
    height: 400px;
    width: 650px;
    display: inline-block;
    background-color: red;
   }
   .subcontents{
    height: 170px;
    width: 170px;
    display: inline-block;
    margin: 5px;
    background-color: yellow;
   }
   #advertisement{
    height: 100px;
    width: 580px;
    display: inline-block;
    margin: 5px;
    margin-top: 15px;
    background-color: purple;
   }
   