<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static "login/style.css" %}">
    <title>Update an Appointment</title>
</head>
<body>
    <div>
        <form action="/edit" method="post">
            {% csrf_token%}
            <p>Task</p>
            <input type="text" name="task" id="task">
            <p>Status</p>
            <section>
                {% for status in status%}
                <option value="{{status}}"></option>
                {%end for%}
            </section>
            <p>Date</p>
            <input type="date" name="date" id="date">
            <p>Time</p>
            <input type="time" name="time" id="time">
            <input type="submit" value="update">
        </form>
    </div>
    
</body>
</html>