<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Home</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div id="name">
                    <h2>Paul Welling</h2>
                </div>
                <div id="title">
                    <h3>Master of Scuba diving and the internet!</h3>
                </div>
            </div>
            <img id="portrait" src="~/images/psmile.jpg" alt="portrait of me">
            <div id="about">
                <h3 id="aboutword">About...</h3>
                <br>
                <p>Hello! I'm an extremely driven and creative Full Stack Developer
                who is currently open for career oppurtunities as a front-end or
                back-end web developer in the Greater Seattle Area.
                </p>
                <br>
                <p>I'm a recent graduate of the Coding Dojo, a coding school located in
                Bellevue, WA that teaches 3 full stacks in 3 months. I'm capable
                of learning new technologies very quickly, and am always looking
                for opportunities to further expand my skills and grow as a 
                developer.
                </p>
                <br>
                <p><a href="/projects">My projects</a> | <a href="/contact">Contact Form</a></p>
            </div>
        </div>
    </body>
</html>

