<h1>Dojo Weather Forecast</h1>
<ul id="city-list">
    <li class="city-li"><a [routerLink]="['','seattle']">Seattle, WA</a></li>
    <li class="city-li"><a [routerLink]="['','san josé, us']">San Jose, CA</a></li>
    <li class="city-li"><a [routerLink]="['','burbank']">Burbank, CA</a></li>
    <li class="city-li"><a [routerLink]="['','dallas']">Dallas, TX</a></li>
    <li class="city-li"><a [routerLink]="['','Washington DC.']">Washington D.C.</a></li>
    <li class="city-li"><a [routerLink]="['','chicago']">Chicago, IL</a></li>
</ul>

<router-outlet></router-outlet>