<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New User</title>
</head>
<body>
    <h2>Add a new user</h2>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <form action="/users/create" method="post">
        {% csrf_token %}
        <h3>First Name:</h3>
        <input type="text" name="f_name" id="f_name">
        <h3>Last Name</h3>
        <input type="text" name="l_name" id="l_name">
        <h3>Email:</h3>
        <input type="text" name="email" id="email">
        <br>
        <br>
        <input type="submit" value="Create">
    </form>
    <br>
    <br>
    <a href="/users">Go Back</a>
</body>
</html>