<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static "app2/style.css" %}">
    <title>Item Information{{item}}</title>
</head>
<body>
    <p><a href="/">Home</a> | <a href="/logout">Logout</a></p>
    <h2>{{item}}</h2>
    <br>
    <h4>Users who added this product/item under their wish list:</h4>
    {% for x in x %}
    <p>{{user.alias}}</p>
    {% endfor %}
</body>
</html>