<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static "app2/style.css" %}">
    <title>Create Item</title>
</head>
<body>
    <p><a href="/app2/">Home</a> | <a href="logout">Logout</a></p>
    <br>
    <h2>Create a New Wish List Item</h2>
    <br>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor%}
    </div>
    {% endif %}
    <br>
    <form action="create" method="post">
        {% csrf_token%}
        <h6>Item/Product:</h6>
        <input type="text" name="item" id="item">
        <input type="submit" value="Add">
    </form>  
</body>
</html>