<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static "app2/style.css" %}">
    <title>Item: {{item.item}}</title>
</head>
<body>
    <p><a href="/app2/">Home</a> | <a href="/app2/logout">Logout</a></p>    
    <h2>{{item.item}}</h2>
    <h4>Users who added this product/item under their wish list:</h4>
    <p>{{item.added_by}}</p>
    {% for u_name in listers %}
    <p>{{u_name}}</p>
    {% endfor %}

</body>
</html>