<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
</head>
<body>
    <div>
    <form action="" method="post">
        <label for="name">Your Name</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="dojo">Your Dojo</label>
        <select name="dojo" id="">
            <option value="seattle">Seattle</option>
            <option value="chicago">Chicago</option>
            <option value="LA">LA</option>
        </select>
        <br>
        <label for="fav_lang">Your Favorite Language</label>
        <select name="fav_lang" id="">
            <option value="JavaScript">JavaScript</option>
            <option value="Python">Python</option>
            <option value="C#">C#</option>
        </select>
        <br>
        <label for="">Comment (optional)</label>
        <input type="text" name="comment" id="comment">
    </form>
    </div>
</body>
</html>