<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static "login/style.css" %}">
    <title>Login and Registration</title>
</head>
<body>
    <div class="wrapper">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor%}
        </div>
        {% endif %}
        <div class="regform">
            <h2>Registration</h2>
            <form action="/register" method="post">
                {% csrf_token%}
                <p>First Name:</p>
                <input type="text" name="first_name" id="first_name">
                <p>Last Name:</p>
                <input type="text" name="last_name" id="last_name">
                <p>Email Address:</p>
                <input type="email" name="email" id="email">
                <p>Password:</p>
                <input type="password" name="password" id="password">
                <p>Confirm Password:</p>
                <input type="password" name="password_confirm" id="password_confirm">
                <input type="submit" value="Register">
            </form>
        </div>
        <div class="logform">
            <h2>Login</h2>
            <form action="/login" method="post">
                {% csrf_token%}
                <p>Email Address:</p>
                <input type="email" name="email" id="email">
                <p>Password:</p>
                <input type="password" name="password" id="password">
                <input type="submit" value="Login">
            </form>
        </div>
    </div>  
</body>
</html>