<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static "appoint/style.css" %}">
    <title>Appointments</title>
</head>
<body>
    <h2>Hello {{User.first_name}}</h2>
    <a href="/appoint/logout">Logout</a>
    <div class="current">
        <p>Here are your appointments for today:  {{today}}</p>
        <table class="tables">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for appointments in appointment %}
                <tr>
                    <td>{{appointments.task}}</td>
                    <td>{{appointments.time}}</td>
                    <td>{{appointments.status}}</td>
                    <td><p><a href="{{appointments.id}}/edit">Edit</a> | <a href="{{appointments.id}}/delete"> | Delete</a></p></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="upcoming">
        <p>Your Other Appointments</p>
        <table class="tables">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for appointments in appointment %}
                <tr>
                    <td>{{ appointments.task }}</td>
                    <td>{{ appointments.date}}</td>
                    <td>{{ appointments.time}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class = "add">
        <h3>Add an appointment</h3>
        <form action="create" method="post">
            {% csrf_token %}
            <p>Date</p>
            <input type="date" name="date" id="date">
            <p>Time</p>
            <input type="time" name="time" id="time">
            <p>Task</p>
            <input type="text" name="task" id="task">
            <input type="submit" value="Add">
        </form>

    </div>
    
</body>
</html>