<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static "appoint/style.css" %}">
    <title>Update an Appointment</title>
</head>
<body>
    <h2>Update your appointment</h2>
    <br>
    <p><a href="/appoint">Dashboard</a> | <a href="/appoint/logout">Logout</a></p>
    <br>
    <div>
        <form action="update" method="post">
            {% csrf_token%}
            <p>Task</p>
            <input type="text" name="task" id="task" value="{{appointment.task}}">
            <p>Status</p>
                <select name="status" id="status">
                    <option value="Pending">Pending</option>
                    <option value="Done">Done</option>
                    <option value="Missed">Missed</option>
                </select>
            <p>Date</p>
            <input type="date" name="date" id="date" value="{{appointment.date}}">
            <p>Time</p>
            <input type="time" name="time" id="time" value="{{appointment.time}}">
            <br>
            <br>
            <input type="submit" value="update">
        </form>
    </div>
    
</body>
</html>